<div clas="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In nostrum aut distinctio quod est? Similique nostrum dolores error, velit a atque aperiam animi temporibus aspernatur ut, blanditiis iure iste rerum!</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In nostrum aut distinctio quod est? Similique nostrum dolores error, velit a atque aperiam animi temporibus aspernatur ut, blanditiis iure iste rerum!</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In nostrum aut distinctio quod est? Similique nostrum dolores error, velit a atque aperiam animi temporibus aspernatur ut, blanditiis iure iste rerum!</p>
        </ul>
    </div>
</div>